:host {
  display: flex;
  width: 100%;
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--bg-card);
  border-radius: 16px;
  justify-content: space-between;
  transition: 0.4s;
}

img {
  height: 100px;
}

a {
  color: var(--text-primary);
}

.inline:nth-child(2) {
  display: flex;
  width: min-content;
  justify-content: space-between;
  align-items: center;
}

svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.specification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-gray-translucent);
  z-index: 1;
}

.specification>div {
  width: 300px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
  background-color: var(--bg-main);
}

app-button {
  width: 80px;
  display: inline-block;
  margin: 0 8px;
}