:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: calc(100vh - 600px);
  margin: 80px auto;
  padding: 8px;
  box-sizing: content-box;
}

form {
  width: 100%;
}

input[type="radio"] {
  display: none;
}

.content-auth,
.content-register {
  display: none;
}

#auth:checked~.body .content-auth,
#register:checked~.body .content-register {
  display: block;
}

.inset>label {
  width: 100%;
  display: block;
  text-align: center;
  padding: 12px;
  box-sizing: border-box;
}

#auth:checked~.inset .auth-tab,
#register:checked~.inset .register-tab {
  /* box-shadow: 0 0 4px var(--border-shadow); */
  border-radius: 8px 8px 0 0;
  background-color: var(--bg-card);
}

.inset {
  display: flex;
  justify-content: space-between;
}