:host {
  display: block;
  width: 100%;
  height: calc(100% - 60px);
  padding: 8px;
  box-sizing: content-box;
}

.wrapper {
  width: 400px;
  height: 200px;
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 200px);
  background-color: var(--bg-card);
  padding: 16px;
  box-sizing: border-box;
  border-radius: 8px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-size: 24px;
  margin: 0;
}

p {
  margin-bottom: 0;
  font-size: 16px;
}

input {
  width: 100%;
  height: 36px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid var(--text-secondary);
  box-sizing: border-box;
  margin-bottom: 8px;
  outline: none;
}

svg {
  width: 32px;
  height: 32px;
  fill: var(--text-primary);
}