div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  box-sizing: border-box;
}

h3 {
  font-size: 32px;
  margin: 0;
}

svg {
  width: 32px;
  height: 32px;
  fill: var(--text-primary);
  cursor: pointer;
}