div {
  display: flex;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

h2 {
  text-align: center;
  margin-bottom: 0;
}

app-admin-form,
app-admin-list {
  width: 50%;
}