:host {
  display: block;
  width: 80%;
  margin: 0 auto;
}

app-button {
  width: 150px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons,
.totalPrice {
  display: flex;
  align-items: center;
  gap: 16px;
}

.totalPrice {
  background-color: var(--color-primary-soft);
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid var(--text-secondary);
  border-radius: 8px;
}