.data {
  padding: 16px;
  box-sizing: border-box;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto 16px auto;
  display: flex;
  justify-content: center;
  gap: 16px;
}

img {
  width: 100%;
  border-radius: 16px;
}

.data>div {
  flex: 1 1 0;
}

h3 {
  width: auto;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--bg-card);
  border-radius: 16px;
  font-size: 16px;
  text-align: center;
}

.price_block {
  margin-top: 16px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: var(--bg-card);
}

.price_block svg {
  width: 18px;
  height: 18px;
  transform: translateY(3px);
}

.vendor {
  font-size: 14px;
  color: var(--text-secondary);
}

.zeretka {
  font-weight: 600;
}

.present {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-primary);
}

.price {
  font-weight: 600;
  font-size: 18px;
}

.discounts {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.pickup {
  padding: 16px;
  box-sizing: border-box;
}

.pickup>span:first-child {
  font-size: 14px;
  font-weight: 600;
}

.pickup>span:nth-child(2) {
  color: var(--color-primary);
  font-weight: 600;
  text-transform: uppercase;
}

.discounts img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.payment {
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--bg-card);
  border: 2px solid var(--text-primary);
  border-radius: 16px;
}

.payment-item {
  display: flex;
  gap: 8px;
}

.payment-item-svg {
  padding: 8px;
  box-sizing: border-box;
}

.payment-item-svg svg {
  width: 32px;
  height: 32px;
}

.payment-item-text {
  padding: 8px;
  box-sizing: border-box;
}

.payment hr {
  height: 2px;
  border: none;
  background-color: var(--text-primary);
}

.description {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 16px;
  border: 1px solid var(--text-secondary);
  display: flex;
  gap: 16px;
  background-color: var(--bg-card);
}

app-button {
  margin-bottom: 16px;
}