:host {}

.data {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto 16px auto;
  display: flex;
  justify-content: center;
  gap: 16px;
}

img {
  width: 100%;
  border-radius: 16px;
}

.data>div {
  flex: 1 1 0;
}

h3 {
  width: auto;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--bg-card);
  border-radius: 16px;
  font-size: 16px;
  text-align: center;
}

.price {
  font-weight: 600;
  font-size: 18px;
}

.description {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  gap: 16px;
  background-color: var(--bg-card);
}

app-button {
  margin-bottom: 16px;
}