:host {}

.data {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}

img {
  width: 500px;
  border-radius: 16px;
}


h3 {
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--bg-card);
  border-radius: 16px;
  font-size: 16px;
}

.price {
  font-weight: 600;
  font-size: 18px;
}

.description {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  gap: 16px;
  background-color: var(--bg-card);
}

app-button {
  margin-bottom: 16px;
}