:host {
  display: block;
  height: 40px;
}

button {
  width: 100%;
  height: 100%;
  color: var(--bg-card);
  background-color: var(--color-primary);
  text-decoration: none;
  line-height: normal;
  border-radius: 4px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition-duration: .2s;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-in-out;
}

button:hover {
  background-color: var(--color-primary-hover);
  transition-duration: .2s;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-in-out;
}

button:disabled {
  background-color: var(--text-muted);
}